{% extends "students/base.html" %}
{% load static from staticfiles %}
{% block meta_title %}Студенти{% endblock meta_title %}
{% block title %}База Студентів{% endblock title %}
{% block content %}

<!start main page>
         <div class="row" id="content-columns">
          <div class="col-xs-12" id="content-column">
             <h2>Групи</h2>
             <!add student button>
             <a class="btn btn-primary" href="#" role="button" id="edd">Додати групу</a>
         </div>
         </div>
         <!start table of students>
         <table class="table table-hover table-striped">
          <thead>
           <tr>
            <th>№</tn>
            <th>Назва</tn>
            <th>Староста</tn>
            <th>Дії</tn>
           </tr>
          </thead>
          <tbody>
           <tr>
            <td>1</td>
            <td> Іс1</td>
            <td>Андрій  Кузьмук</td>
            <td>
            <div class="btn-group">
                  <button type="button" class="btn btn-default dropdown-toggle"
                          data-toggle="dropdown">Дія
                    <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Редагувати</a></li>
                    <li><a href="#">Відвідування</a></li>
                    <li><a href="#">Видалити</a></li>
                  </ul>
                </div>
            </td>
           </tr>
           <tr>
            <td>2</td>
            <td> Іс2</td>
            <td>Ігор  Березень</td>
            <td>
            <div class="btn-group">
                  <button type="button" class="btn btn-default dropdown-toggle"
                          data-toggle="dropdown">Дія
                    <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Редагувати</a></li>
                    <li><a href="#">Відвідування</a></li>
                    <li><a href="#">Видалити</a></li>
                  </ul>
                </div>
            </td>
           </tr>
           <tr>
            <td>3</td>
            <td> Іс3</td>
            <td>Юрій Столярчук</td>
            <td>
            <div class="btn-group">
                  <button type="button" class="btn btn-default dropdown-toggle"
                          data-toggle="dropdown">Дія
                    <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Редагувати</a></li>
                    <li><a href="#">Відвідування</a></li>
                    <li><a href="#">Видалити</a></li>
                  </ul>
                </div>
            </td>
           </tr>
          </tbody>
         </table>
         <nav>
  <ul class="pagination">
    <li>
      <a href="#" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    <li class="active"><a href="#">1</a></li>
    <li><a href="#">2</a></li>
    <li>
      <a href="#" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav>
         <!end table of students> 
         <!end main page>

{% endblock content %}
